<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home" style="font-size: 22px;">SmartCafe</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active" style="font-size: 16px;">
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="user">Staff</a>
      </li>
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="table">Table</a>
      </li>
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="reports">Reports</a>
      </li>
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="menu">Menu</a>
      </li>
      <!--<li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="ratings">Ratings</a>
      </li>-->
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="roles">Roles</a>
      </li>
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="departments">Departments</a>
      </li>
      <li *ngIf="authority === 'manager'" class="nav-item">
        <a class="nav-link" routerLink="orders">Orders</a>
      </li>
      <li *ngIf="authority === 'customer'" class="nav-item">
        <a class="nav-link" routerLink="customermenu"></a>
      </li>
      <li *ngIf="authority === 'chef'" class="nav-item">
        <a class="nav-link" routerLink="chefview">Orders</a>
      </li>
      <li *ngIf="authority === 'steward'" class="nav-item">
        <a class="nav-link" routerLink="stewardview">Orders</a>
      </li>
      <li *ngIf="authority === 'cashier'" class="nav-item">
        <a class="nav-link" routerLink="cashierview">Orders</a>
      </li>

      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li *ngIf="authority && authority === 'manager' " class="nav-item">
        <a class="nav-link" (click)="logout()" style="margin-left: 400px;" routerLink="home">Logout</a>
      </li>
      <li *ngIf="authority && authority === 'customer'" class="nav-item">
        <a class="nav-link" (click)="logout()" style="margin-left: 400px;" routerLink="home"></a>
      </li>
      <li *ngIf="authority && (authority === 'chef' || authority === 'steward' || authority === 'cashier')" class="nav-item">
        <a class="nav-link" (click)="logout()" style="margin-left: 900px;" routerLink="home">Logout</a>
      </li>
      <li *ngIf="authority && authority != 'customer'" class="nav-item">
        <a class="nav-link">{{userName}}</a>
      </li>
    </ul>
    
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>